/*******************************/
/* Barre de navigation
/*******************************/

nav.navbar {
    border-bottom: 1px solid #1E4D5F;
}

.navbar-default {
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-brand, .navbar-default .nav li a {
    color: #1E4D5F;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:active,
.navbar-default .nav li a:visited,
.navbar-default .nav li a:focus {
    background-color: #1E4D5F;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #31708f;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:active,
.navbar-default .navbar-nav>.active>a:visited,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #31708f;
    opacity: 0.8;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #1E4D5F;
    opacity: 0.8;
}

.navbar-default.navbar-shrink {
    background-color: #EEEEEE;
}

.navbar-default .navbar-toggle {
    background-color: #1E4D5F;
    border-color: #1E4D5F;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
    background-color: #31708f;
}

/*******************************/
/* Bootstrap element
/*******************************/
a {
    color: #1E4D5F;
}
a:hover, a:focus, a:active {
    color: #1E4D5F;
}

ul.social-buttons li a {
    background-color: #3B5998;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #FFFFFF;
    color: #3B5998;
    border: 1px solid #3B5998;
}

ul.social-buttons li a.google {
    background-color: #DD4F43;
}
ul.social-buttons li a.google:hover, ul.social-buttons li a.google:focus, ul.social-buttons li a.google:active {
    background-color: #FFFFFF;
    color: #DD4F43;
    border: 1px solid #DD4F43;
}

/*******************************/
/* Header
/*******************************/
header .intro-text {
    padding-top: 100px;
}

header {
    background-image: none;
}

header:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url(../img/slider/lac1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

header .container .logo {
    max-height: 400px;
}

.border-bottom {
    border-bottom: 1px dotted #1E4D5F;
    margin-bottom: 30px;
}

/*******************************/
/* Presentation
/*******************************/
#presentation {
    margin-top: 100px;
}

iframe.carte-goupil {
    padding: 0px;
    min-height: 400px;
}

/*******************************/
/* Activités
/*******************************/
.timeline>li .timeline-image {
 background-color: #1E4D5F;
}

/*******************************/
/* Menu
/*******************************/
.badge {
    background-color: #1E4D5F;
}

.menu-block .no-alcool {
    background-color: #DEEAF6;
}
.menu-block .alcool {
    background-color: #FBE4D5;
}
.menu-block .plats {
    background-color: #E2EFD9;
}
.menu-block .glaces {
    background-color: #EDEDED;
}
.menu-block .tapas {
    background-color: #FFF2CC;
}

.menu-block .formule {
    color: #FFFFFF;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../img/ardoise.jpg);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.menu-block .formule-prix {
    color: #1E4D5F;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 20px;
}
